.navBar {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 20px;
  margin-right: 50px;

  &__item {
    cursor: pointer;

    &:hover {
      color: var(--light-color);
    }

    &__icon {
      margin-right: 10px;
    }
  }
}

.active :not(.brand__title) {
  color: var(--secondary-color);
}

// mediaqueries navbar

@media only screen and (max-width: 768px) {
  .navBar {
    display: block;
    width: 100;
    height: 100;
    margin: 0;
  }
}

// MEDIAQUERIES
// //Pantallas muy grandes  (desktops de más de 1200px de ancho)
// //No hace falta media-query porque será nuestro diseño por defecto

// //Pantallas grandes (desktops de menos de 1200px)
// @media (max-width: 1199.98px) { ... }

// //Pantallas medianas (tablets de menos de 992px)
// @media (max-width: 991.98px) { ... }

// //Pantallas pequeñas (móviles en landscape de menos de 768px)
// @media (max-width: 767.98px) { ... }

// //Pantallas muy pequeñas (móviles en portrait de menos de 576px)
// @media (max-width: 575.98px) { ... }
